{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Hong Tai-Rong">

    <title>ComicMark</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" data-turbolinks-track="reload"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <link rel="shortcut icon" type="image/png" href="{% static 'icon.png' %}">

</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" href="">Comic Mark</a>
      </div>

      <div class="collapse navbar-collapse">
        <form class="navbar-form navbar-left" action="{% url 'add_comic' %}" method="post">
          {% csrf_token %}
          <input type="number" class="form-control" name="comicId" max="100000" required placeholder="comicId">
          <input type="number" class="form-control" name="progress" max="100000" placeholder="progress">
          <button class="btn btn-default" type="submit">Add</button>
        </form>
      </div>

    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-10">

        <!-- Comic list panel -->
        <div class="container">
          <div class="row">

            {% for comic in comics %}
              <div class="col-md-4">
                <div class="panel panel-default">

                  <div class="panel-heading">
                    <a href="{{ comic.url }}" target="_blank">{{ comic.name }}</a>
                    {% if comic.is_updated %}
                      <span class="label label-danger">更新</span>
                    {% endif %}
                  </div>

                  <ul class="list-group">
                    {% for ep in comic.episodes %}
                      <li class="list-group-item">
                        {% if ep.is_progress %}
                          <a href="{{ ep.url }}" target="_blank">第 {{ ep.index }} 話</a>
                          <span class="label label-success">上次進度</span>
                        {% elif ep.is_next %}
                          <a href="{{ ep.url }}" target="_blank">第 {{ ep.index }} 話</a>
                          <a href="{% url 'update_progress' comic.comicId %}" class="btn btn-default">看完了</a>
                          <div class="read-now btn btn-default">現在看</div>
                        {% else %}
                          第 {{ ep.index }} 話
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>

                  <div class="panel-footer">更新時間：{{ comic.updateTime|timesince }}</div>

                </div>
              </div>
            {% endfor %}

          </div>
        </div>

      </div>
    </div>
  </div>

  <script src="{% static 'comic.js' %}"></script>
</body>

</html>
